body{
margin:0;
font-family:Segoe UI,Arial;
background:#f1f3f6;
}

/* NAVBAR */
.nav{
background:#131921;
color:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

.nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:500;
}

/* HERO */
.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(120deg,#232f3e,#37475a);
color:white;
text-align:center;
}

/* BUTTON */
.btn{
background:#ff9900;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}

.btn:hover{
background:#e68a00;
}

/* CARD */
.container{
width:400px;
margin:50px auto;
}

.card{
background:white;
padding:30px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* PRODUCT GRID */
.product-grid{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:30px;
justify-content:center;
}

.product-card{
background:white;
padding:15px;
width:220px;
text-align:center;
border-radius:8px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.product-card img{
width:200px;
height:150px;
object-fit:cover;
}